.traffic-root{
display:flex;
flex-direction: column;
min-height:100vh;
align-items:center;
justify-content:center;
background:linear-gradient(180deg,#f0f3f6,#e6eef6);
padding:1.5rem;
}

.semaphore{
background:#222;
width:8.5rem;
padding:1rem;
display:flex;
flex-direction:column;
align-items:center;
}


.light{
width:5.5rem;
height:5.5rem;
border-radius:50%;
margin:0.6rem 0;
cursor:pointer;
outline:none;
display:flex;
align-items:center;
justify-content:center;
}

.light:focus{
box-shadow:0 0 0 4rem rgba(0,0,0,0.05);
}

.red{background:linear-gradient(180deg,#4b0000,#220000)}
.yellow{background:linear-gradient(180deg,#665200,#3a2b00)}
.green{background:linear-gradient(180deg,#003b00,#002200)}

.red.selected{background:linear-gradient(180deg,#ff5252,#ff1f1f);box-shadow:0 0 1.5rem #ff5252, inset 0 -0.5rem 1.5rem rgba(0,0,0,0.35)}
.yellow.selected{background:linear-gradient(180deg,#ffd664,#ffb400);box-shadow:0 0 1.5rem #ffd664, inset 0 -0.5rem 1.5rem rgba(0,0,0,0.2)}
.green.selected{background:linear-gradient(180deg,#66ff88,#00e65a);box-shadow:0 0 1.5rem #66ff88, inset 0 -0.5rem 1.5rem rgba(0,0,0,0.25)}

.traffic-light-pole {
  width: 1rem;
  height: 10rem;
  background: #222;
  margin-bottom: -0.6rem;
}